### 1339. Maximum Product of Splitted Binary Tree
Given the root of a binary tree, split the binary tree into two subtrees by removing one edge such that the product of the sums of the subtrees is maximized.

Return the maximum product of the sums of the two subtrees. Since the answer may be too large, return it modulo $10^9 + 7$.

Note that you need to maximize the answer before taking the mod and not after taking it.

In [ ]:
from pyglm.glm import column
from sympy import factor


# Definition for a binary tree node.
# class TreeNode:
#     def __init__(self, val=0, left=None, right=None):
#         self.val = val
#         self.left = left
#         self.right = right
class Solution:
    def maxProduct(self, root: Optional[TreeNode]) -> int:
        d = []
        def sum_rec(node):
            if node is None:
                return 0
            s = node.val + sum_rec(node.left) + sum_rec(node.right)
            d.append(s)
            return s
        max_sum = sum_rec(root)

        max_product = 1
        for s in d:
            max_product = max(max_product, s * (max_sum-s))
        return max_product % (10**9 + 7)

### 1084. Sales Analysis III

Write a solution to report the products that were only sold in the first quarter of 2019. That is, between 2019-01-01 and 2019-03-31 inclusive.

In [9]:
import pandas as pd

data = [[1, 'S8', 1000], [2, 'G4', 800], [3, 'iPhone', 1400]]
product = pd.DataFrame(data, columns=['product_id', 'product_name', 'unit_price']).astype({'product_id':'Int64', 'product_name':'object', 'unit_price':'Int64'})
data = [[1, 1, 1, '2019-01-21', 2, 2000], [1, 2, 2, '2019-02-17', 1, 800], [2, 2, 3, '2019-06-02', 1, 800], [3, 3, 4, '2019-05-13', 2, 2800]]
sales = pd.DataFrame(data, columns=['seller_id', 'product_id', 'buyer_id', 'sale_date', 'quantity', 'price']).astype({'seller_id':'Int64', 'product_id':'Int64', 'buyer_id':'Int64', 'sale_date':'datetime64[ns]', 'quantity':'Int64', 'price':'Int64'})

# (sales.product_id.loc[("sale_data" >= "2019-01-01") & ("sale_data" <= "2019-03-31")])

sales_filtered = sales.loc[
    (sales['sale_date'] >= '2019-01-01') & (sales['sale_date'] <= '2019-03-31'),
    'product_id'
]

sales_filtered

0    1
1    2
Name: product_id, dtype: Int64

In [36]:
mask = sales.groupby("product_id")["sale_date"].agg(lambda x: x.max() <= pd.Timestamp("2019-03-31") and x.min() >= pd.Timestamp("2019-01-01"))

sales[sales.product_id.isin(mask[mask].index)].merge(product)[["product_id", "product_name"]].drop_duplicates()

   product_id product_name
0           1           S8

### 1141. User Activity for the Past 30 Days I

Write a solution to find the daily active user count for a period of 30 days ending 2019-07-27 inclusively. A user was active on someday if they made at least one activity on that day.

Return the result table in any order.

The result format is in the following example.

In [84]:
data = [[1, 1, '2019-07-20', 'open_session'], [1, 1, '2019-07-20', 'scroll_down'], [1, 1, '2019-07-20', 'end_session'], [2, 4, '2019-07-20', 'open_session'], [2, 4, '2019-07-21', 'send_message'], [2, 4, '2019-07-21', 'end_session'], [3, 2, '2019-07-21', 'open_session'], [3, 2, '2019-07-21', 'send_message'], [3, 2, '2019-07-21', 'end_session'], [4, 3, '2019-06-25', 'open_session'], [4, 3, '2019-06-25', 'end_session']]
activity = pd.DataFrame(data, columns=['user_id', 'session_id', 'activity_date', 'activity_type']).astype({'user_id':'Int64', 'session_id':'Int64', 'activity_date':'datetime64[ns]', 'activity_type':'object'})

mask = (activity["activity_date"] <= "2019-07-27") & (activity['activity_date'] > "2019-06-27")

activity[mask].groupby("activity_date")["user_id"].nunique().reset_index().rename(columns={"activity_date": "day", "user_id": "users"})

         day  users
0 2019-07-20      2
1 2019-07-21      2

### 1148. Article Views I

Write a solution to find all the authors that viewed at least one of their own articles.

In [100]:
data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})

views.loc[views["author_id"] == views['viewer_id']][["viewer_id"]].rename(columns={"viewer_id": "id"}).drop_duplicates().sort_values(by="id")

   id
5   4
2   7

### 1179. Reformat Department Table

Reformat the table such that there is a department id column and a revenue column for each month.

In [129]:
data = [[1, 8000, 'Jan'], [2, 9000, 'Jan'], [3, 10000, 'Feb'], [1, 7000, 'Feb'], [1, 6000, 'Mar']]
department = pd.DataFrame(data, columns=['id', 'revenue', 'month']).astype({'id':'Int64', 'revenue':'Int64', 'month':'object'})

months = ['Jan','Feb','Mar','Apr','May','Jun',
          'Jul','Aug','Sep','Oct','Nov','Dec']

new_columns = ["id"] + [f"{month}_Revenue" for month in months]

df = department.pivot(columns = "month", index = "id", values="revenue").add_suffix("_Revenue").reset_index()
df = df.reindex(columns=new_columns)
df

month,id,Jan_Revenue,Feb_Revenue,Mar_Revenue,Apr_Revenue,May_Revenue,Jun_Revenue,Jul_Revenue,Aug_Revenue,Sep_Revenue,Oct_Revenue,Nov_Revenue,Dec_Revenue
0,1,8000,7000,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,9000,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,<NA>,10000,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 1517. Find Users With Valid E-Mails

Write a solution to find the users who have valid emails.

A valid e-mail has a prefix name and a domain where:

The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
The domain is '@leetcode.com'.

In [149]:
data = [[1, 'Winston', 'winston@leetcode.com'], [2, 'Jonathan', 'jonathanisgreat'], [3, 'Annabelle', 'bella-@leetcode.com'], [4, 'Sally', 'sally.come@leetcode.com'], [5, 'Marwan', 'quarz#2020@leetcode.com'], [6, 'David', 'david69@gmail.com'], [7, 'Shapiro', '.shapo@leetcode.com']]
users = pd.DataFrame(data, columns=['user_id', 'name', 'mail']).astype({'user_id':'int64', 'name':'object', 'mail':'object'})

users.loc[(users.mail.str.endswith("@leetcode.com")) &
(users.mail.str[0].str.isalpha()) &
(~(users.mail.str.contains("#%?&*!", na=False)))
]

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com
4        5     Marwan  quarz#2020@leetcode.com

### 60. Permutation Sequence

The set [1, 2, 3, ..., n] contains a total of n! unique permutations.

By listing and labeling all of the permutations in order, we get the following sequence for n = 3:

"123"
"132"
"213"
"231"
"312"
"321"
Given n and k, return the kth permutation sequence.

In [164]:
class Solution:

    def getPermutation(self, n: int, k: int) -> str:
        fack = [1] * (n+1)

        for i in range(1, n+1):
            fack[i] = fack[i-1] * i

        nums = [str(i) for i in range(1, n+1)]
        result = []
        k-=1

        for i in range(n, 0, -1):
            j = k // fack[i-1]
            result.append(nums[j])
            nums.pop(j)
            k %= fack[i-1]


        return "".join(result)

s = Solution()
print(s.getPermutation(4, 9))

2314