# 1411. Number of Ways to Paint N Ã— 3 Grid
Solved
Hard


You have a grid of size n x 3 and you want to paint each cell of the grid with exactly one of the three colors: Red, Yellow, or Green while making sure that no two adjacent cells have the same color (i.e., no two cells that share vertical or horizontal sides have the same color).

Given n the number of rows of the grid, return the number of ways you can paint this grid. As the answer may grow large, the answer must be computed modulo $10^9 + 7$.

In [ ]:
class Solution:
    def numOfWays(self, n: int) -> int:

        mod = 10 ** 9 + 7

        dif = 6
        dub = 6

        for i in range(n - 1):
            dub2 = (2 * dif + 3 * dub) % mod
            dif2 = (2 * dif + 2 * dub) % mod

            dif, dub = dif2, dub2

        return (dif + dub) % mod

In [1]:
import heapq
from typing import List

# 1631. Path With Minimum Effort

You are a hiker preparing for an upcoming hike. You are given heights, a 2D array of size rows x columns, where heights[row][col] represents the height of cell (row, col). You are situated in the top-left cell, (0, 0), and you hope to travel to the bottom-right cell, (rows-1, columns-1) (i.e., 0-indexed). You can move up, down, left, or right, and you wish to find a route that requires the minimum effort.

A route's effort is the maximum absolute difference in heights between two consecutive cells of the route.

Return the minimum effort required to travel from the top-left cell to the bottom-right cell.

In [ ]:
class Solution:
    def minimumEffortPath(self, heights: List[List[int]]) -> int:
        col_finish, row_finish = len(heights[0]), len(heights)
        visited = set()
        minHeap = [[0, 0, 0]]
        directions = [(0, 1), (0, -1), (1, 0), (-1, 0)]

        while minHeap:
            dif, row, col = heapq.heappop(minHeap)
            if (row, col) in visited:
                continue
            visited.add((row, col))

            if (row, col) == (row_finish - 1, col_finish - 1):
                return dif

            for dr, dc in directions:
                cur_row = row + dr
                cur_col = col + dc

                if 0 <= cur_row < row_finish and 0 <= cur_col < col_finish and (cur_row, cur_col) not in visited:
                    val = max(dif, abs(heights[cur_row][cur_col] - heights[row][col]))
                    heapq.heappush(minHeap, [val, cur_row, cur_col])

# 787. Cheapest Flights Within K Stops
There are n cities connected by some number of flights. You are given an array flights where flights[i] = [fromi, toi, pricei] indicates that there is a flight from city fromi to city toi with cost pricei.

You are also given three integers src, dst, and k, return the cheapest price from src to dst with at most k stops. If there is no such route, return -1.

In [ ]:
class Solution:
    def findCheapestPrice(self, n: int, flights: List[List[int]], src: int, dst: int, k: int) -> int:
        costs = {node: float("inf") for node in range(n)}
        costs[src] = 0

        for _ in range(k + 1):
            cost_temp = costs.copy()
            for u, v, cost in flights:
                if costs[u] != float("inf") and costs[u] + cost < cost_temp[v]:
                    cost_temp[v] = costs[u] + cost
            costs = cost_temp
        return -1 if costs[dst] == float("inf") else costs[dst]

# 743. Network Delay Time

You are given a network of n nodes, labeled from 1 to n. You are also given times, a list of travel times as directed edges times[i] = (ui, vi, wi), where ui is the source node, vi is the target node, and wi is the time it takes for a signal to travel from source to target.

We will send a signal from a given node k. Return the minimum time it takes for all the n nodes to receive the signal. If it is impossible for all the n nodes to receive the signal, return -1.

In [ ]:
class Solution:
    def networkDelayTime(self, times: List[List[int]], n: int, k: int) -> int:
        weigths = [float('inf')] * n
        weigths[k-1] = 0
        for _ in range(n - 1):
            flag = False
            for u, v, weight in times:
                if weigths[u-1] != float('inf') and weigths[u-1] + weight < weigths[v-1]:
                    weigths[v-1] = weigths[u-1] + weight
                    flag = True
            if not flag:
                maximum = max(weigths)
                return -1 if maximum == float("inf") else maximum
        maximum = max(weigths)
        return -1 if maximum == float("inf") else maximum

196. Delete Duplicate Emails

```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| email       | varchar |
+-------------+---------+
```
id is the primary key (column with unique values) for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.


Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

For SQL users, please note that you are supposed to write a DELETE statement and not a SELECT one.

For Pandas users, please note that you are supposed to modify Person in place.

After running your script, the answer shown is the Person table. The driver will first compile and run your piece of code and then show the Person table. The final order of the Person table does not matter.

The result format is in the following example.



Example 1:

Input:
Person table:
```
+----+------------------+
| id | email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |
+----+------------------+
```
Output:
```
+----+------------------+
| id | email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
+----+------------------+
```
Explanation: john@example.com is repeated two times. We keep the row with the smallest Id = 1.

In [23]:
import pandas as pd

data = [[1, 'john@example.com'], [2, 'bob@example.com'], [3, 'john@example.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'int64', 'email':'object'})

In [21]:
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values(by="id", inplace=True)
    person.drop_duplicates(subset="email", keep="first", inplace=True)

# 197. Rising Temperature
```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
```
id is the column with unique values for this table.
There are no different rows with the same recordDate.
This table contains information about the temperature on a certain day.


Write a solution to find all dates' id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

The result format is in the following example.



Example 1:

Input:
Weather table:
```
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
```
Output:
```
+----+
| id |
+----+
| 2  |
| 4  |
+----+
```
Explanation:
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [62]:
data = [[1, '2015-01-01', 10], [2, '2015-01-02', 25], [3, '2015-01-03', 20], [4, '2015-01-04', 30]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [61]:
import pandas as pd

def rising_temperature(weather: pd.DataFrame) -> pd.DataFrame:
    weather.sort_values(by='recordDate', inplace=True)
    return weather[(weather.recordDate.diff() == "1 days" ) & (weather.temperature.diff() > 0)][['id']]

# 511. Game Play Analysis I

```
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |
+--------------+---------+
```
(player_id, event_date) is the primary key (combination of columns with unique values) of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.


Write a solution to find the first login date for each player.

Return the result table in any order.

The result format is in the following example.



Example 1:

Input:
Activity table:
```
+-----------+-----------+------------+--------------+
| player_id | device_id | event_date | games_played |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 2         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |
+-----------+-----------+------------+--------------+
```
Output:
```
+-----------+-------------+
| player_id | first_login |
+-----------+-------------+
| 1         | 2016-03-01  |
| 2         | 2017-06-25  |
| 3         | 2016-03-02  |
+-----------+-------------+
```

In [68]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    activity.sort_values(by = "event_date", inplace=True)
    return activity.drop_duplicates(subset="player_id", keep="first")[['player_id', 'event_date']].rename(columns = {"event_date":"first_login"})

   player_id first_login
0          1  2016-03-01
2          2  2017-06-25
3          3  2016-03-02